doctype html
html(lang="en")
  head
    title karmakontot
  body
    h1 Links
    ul
      li
        a(href='/admin') admin interface
      li
        a(href='/tables') tables
      li
        a(href='/api/entries') entries
      li
        a(href='/api/insert') add entries
